<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title class="ion-text-center">
                  Add a note
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="content">
<ion-card>
 <ion-list>
    <ion-item button detail *ngFor="let note of noteService.notes" [href]="'/notes/' + note.id" routerDirection="forward">
      <ion-label>{{ note.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-card>
<ion-fab class="addtask" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addNote()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
