<ion-header>
<ion-toolbar>

  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>


  <ion-title>Budget This Day</ion-title>

</ion-toolbar>
</ion-header>

<ion-content>

<ion-grid class="ion-no-padding ion-padding-horizontal">

  <!-- HEADER -->
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{ currentDate | date: 'E' }} <span> | </span>
            <small>{{ currentDate | date: 'MMMM dd, yyyy' }}</small>
          </ion-card-title>
        </ion-card-header>





  





