
  <ion-content fullscreen class="ion-padding" scroll-y="false">

    <ion-slides pager="true" id="slider" [options]="slideOpts"
    (ionSlideDidChange)="slideChanged()" (ionSlideWillChange)="slideWillChange()">

      <!-- SLIDE 1 -->
      <ion-slide>
        <div>

          <div class="wrapper">
            <img id="slide-0" class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIE1yXiMgqx254YhX_uZEBlG0E9SUNM_-aTQ&usqp=CAU" alt="">
          </div>

          <div>
            <h2>Welcome to your own personal task planner!</h2>
            <p>
              <strong>Swipe left</strong> to continue...
            </p>
          </div>


        </div>

      </ion-slide>


      <!-- SLIDE 2 -->
      <ion-slide>

        <div>
          <div class="wrapper">
            <img id="slide-1" class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIE1yXiMgqx254YhX_uZEBlG0E9SUNM_-aTQ&usqp=CAU" alt="">
          </div>

          <div>
            <h2>Track all of your activities</h2>
            <p>
              Manage your time by creating a record of your tasks.
            </p>
          </div>
        </div>

      </ion-slide>

      <!-- SLIDE 3 -->
      <ion-slide>

        <div>
          <div class="wrapper">
            <img id="slide-2" class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIE1yXiMgqx254YhX_uZEBlG0E9SUNM_-aTQ&usqp=CAU" alt="">
          </div>

          <div>
            <h2>Write your thoughts</h2>
            <p>
              Feel free to share your feelings by writing a note
            </p>
          </div>
        </div>

      </ion-slide>

      <!-- SLIDE 4 -->
      <ion-slide>

        <div>
          <div class="wrapper">
            <img id="slide-3" class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIE1yXiMgqx254YhX_uZEBlG0E9SUNM_-aTQ&usqp=CAU" alt="">
          </div>

          <div>
            <h2>List things on checklist</h2>
            <p>
              List the things you need to be reminded of on checklist
            </p>
          </div>
        </div>

      </ion-slide>

      <!-- SLIDE 5 -->
      <ion-slide>

        <div>
          <div class="wrapper">
            <img id="slide-4" class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIE1yXiMgqx254YhX_uZEBlG0E9SUNM_-aTQ&usqp=CAU" alt="">
          </div>

          <div>
            <h2>Hopefully inspire you to be more productive!</h2>
            <p>
              Small steps can lead you to be more productive each day
            </p>
          </div>
        </div>

      </ion-slide>

      <!-- SLIDE 6 -->
      <ion-slide>

        <div>
          <div class="wrapper">
            <img id="slide-5" class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIE1yXiMgqx254YhX_uZEBlG0E9SUNM_-aTQ&usqp=CAU" alt="">
          </div>

          <div>
            <h2>Start writing!</h2>
            <ion-button fill="clear" color="primary" class="ion-text-capitalize" href="/task">
              Continue <ion-icon name="arrow-forward" slot="end"></ion-icon>
            </ion-button>
          </div>
        </div>

      </ion-slide>






    </ion-slides>

  </ion-content>


